<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ARK</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/location.css">
  <script src="https://kit.fontawesome.com/043ce83f9a.js" crossorigin="anonymous"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,500"
      rel="stylesheet"
    />
</head>

<body>
  <header>
    <section class="navbar">
      {{!-- Navbar Title --}}
      <p><a href="/" id="title">ARK </a><img src="/images/arkLogo.png" alt="Ark Logo"></p>
      {{!-- Navbar --}}
      <ul class="navbarOne">
        <li><a href="/">Home</a></li>

        {{#if logged_in}}
        <li><a href="/profile">Profile</a></li>
        <li><a href="/tasks">Tasks</a></li>
        {{else}}
        <li><a href="/login">Profile</a></li>
        <li><a href="/login">Tasks</a></li>
        {{/if}}

      </ul>
      <ul class="navbarTwo">
        <li><div class="loginBar">
          {{#if logged_in}}
            <button class="no-button" id="logout"><i class="fa-solid fa-user"></i>
            Logout</button>
          {{else}}
            <i class="fa-solid fa-user"></i>
            <a href="/login" id="login">Login</a>
          {{/if}}
    <!-- Render script for logged in users only -->
          {{#if logged_in}}
            <script src="/js/logout.js"></script>
          {{/if}}
      </div>
      </li>
      </ul> 
    </section>
  </header>

  <main>
    {{{body}}}
  </main>

  <footer class="footer footer-wrapper" style="background-color:#222222">
    <div class="container footer-container">
      <span>&#169; ARK, Inc</span>
      <p class="footer-text">A collaboration by <a href="https://github.com/roman-ac" target="_blank">Roman</a>, <a href="https://github.com/jcarait" target="_blank">Jono</a>, <a href="https://github.com/LamekMarouf" target="_blank">Lamek</a> &#38; <a href="https://github.com/tiffmoon" target="_blank">Tiff.</a></p>
      <span id="github-icon"><a class="fa fa-github" style="font-size:48px; color: white; justify-content: flex-end; margin-right: 20px;" href="https://github.com/jcarait/act-of-random-kindness" target="_blank"></a></span>
    </div>        
</body>
</html>
