<div class="loginPageBody">
<section class="homepage-text-center">
<h1 id="home-title">Connect with people and give back with an Act of Random Kindness<span id="home-title-span">No act of kindness, no matter how small, is ever wasted.</span></h1>
<div class="homepage-btn-group">
  <div class="home-signup-btn">
  <button class="btn home-signup">Get started and help someone today</button>
  </div>
  <div class="login-signup-btn">
  <button class="btn home-login">Login</button>
  </div>
</div>
</section>
</div>