<section class="mainBody">


    <div class="columnOne">
        <div class="slidecontainer">
            <p class="subtitles" id="distanceTitle">Distance</p>
            <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            <p id="value">Value: <span id="demo"></span></p>
        </div>
        <div class="volunteerButtonSection">
            <p class="subtitles" id="volunteerTitle">Want to Volunteer</p>
            <button class="findVolunteer">Find Volunteer Tasks Near Me</button>
        </div>
        <section class="filters">
            <p class="subtitles" id="filtersTitle">Filters and Tags</p>
            <div class="filterTags">
                <button class="filterButton">Filter One</button>
                <button class="filterButton">Filter Two</button>
                <button class="filterButton">Filter Three</button>
                <button class="filterButton">Filter Four</button>
                <button class="filterButton">Filter Five</button>
                <button class="filterButton">Filter Six</button>
                <button class="filterButton">Filter Seven</button>
                <button class="filterButton">Filter Eight</button>
                <button class="filterButton">Filter Nine</button>
            </div>
        </section>
    </div>

    <div class="columnTwo">
        <div id="availableTasksTitle">Available Tasks</div>
        <div class="availableTasksList">
            <p>Test Item</p>
            <p>Test Item</p>
            <p>Test Item</p>

        </div>
    </div>

    <div class="columnThree">Map</div>


</section>

<script src="../public/js/rangeSlider.js"></script>
