<section class="mainBody">


    <div class="columnOne">
        <div class="slidecontainer">
            <p class="subtitles" id="distanceTitle">Distance</p>
            <input type="range" min="5" max="50" value="25" class="slider" id="myRange">
            <p id="value"><span id="demo"></span>km</p>
        </div>
        <div class="volunteerButtonSection">
            <p class="subtitles" id="volunteerTitle">Want to Volunteer</p>
            <button class="findVolunteer">Find Volunteer Tasks Near Me</button>
        </div>
        <section class="filters">
            <p class="subtitles" id="filtersTitle">Filters and Tags</p>
            <div class="filterTags">
                <button class="filterButton" id="filterOne">Filter One</button>
                <button class="filterButton">Filter Two</button>
                <button class="filterButton">Filter Three</button>
                <button class="filterButton">Filter Four</button>
                <button class="filterButton">Filter Five</button>
                <button class="filterButton">Filter Six</button>
                <button class="filterButton">Filter Seven</button>
                <button class="filterButton">Filter Eight</button>
                <button class="filterButton">Filter Nine</button>
            </div>
        </section>
    </div>

    <div class="columnTwo">
        <div class="subtitles" id="availableTasksTitle">Available Tasks</div>
        <div class="availableTasksList">
            <ol>
            <li>This is a test item. Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
            <li>This is a test item. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quibusdam quisquam fugit harum impedit sequi dolore distinctio dolorum vel odit!</li>
            <li>This is a test item. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam velit delectus impedit, asperiores dolorem quos!</li>
            </ol>

        </div>
    </div>

    <div class="columnThree">Map</div>


</section>

<script>
    const button = document.getElementById("filterOne");
    button.addEventListener('click', () => {
    console.log("Hello");
})

var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}
</script>

<script src="../public/js/rangeSlider.js"></script>
<script src="../public/js/filterToggle.js"></script>
