<div class="loginPageBody">

  <div class="signupSide">
    <div class="signupBox">
      <div id="signupTitle">SIGNUP</div>
      <form><div id="usernameTitle">Username: <input type="text" name="username"></div></form>
      <form><div id="emailTitle">Email: <input type="text" name="email"></div></form>
      <form><div id="createPasswordTitle">Create a Password: <input type="password" name="password"></div></form>
    </div>
  </div>

  <div class="loginSide"> 
    <div class="loginBox">
      <div id="loginTitle">LOGIN</div>
      <form><div id="loginUsernameTitle">Username: <input type="text" name="username"></div></form>
      <form><div id="loginPasswordTitle">Password: <input type="password" name="password"></div></form>
    </div>
  </div>

</div>


<script src="./js/login.js"></script>
