<div class="loginPageBody">
  
    

    <div class="loginBox">
      <div id="loginTitle">LOGIN</div>
      
      <form class="form login-form">
          <div id="loginUsernameTitle" class="form-group">
            <label for="username-login">Username:</label>
            <input class="form-input" type="text" id="username-login" />
          </div>
          <div id="loginPasswordTitle" class="form-group">
            <label for="password-login">Password:</label>
            <input class="form-input" type="password" id="password-login" />
          </div>
          <div id="loginButton" class="form-group">
            <button class="btn btn-primary" type="submit">login</button>
          </div>
      </form>


        <!--<div class="loginSide"> 
        <div class="loginBox">
          <div id="loginTitle">LOGIN</div>
          <form><div id="loginUsernameTitle">Username: <input type="text" name="username"></div></form>
          <form><div id="loginPasswordTitle">Password: <input type="password" name="password"></div></form>
          <button id="loginButton" type="submit">Login</button>
        </div>-->
      </div>

</div>



<script src="./js/login.js"></script>
