<div class="loginPageBody">


  <section class="login-section">
    <div class="container d-flex justify-content-center">
      <div class="col-md-8 mb-5 login-box">
        <div id="loginTitle">LOGIN</div>

        <form class="form login-form">
          <div id="login-user-group" class="form-group">
            <label for="username-login">Username</label>
            <input class="form-control" type="text" id="username-login" />
          </div>
          <div id="login-password-group" class="form-group">
            <label for="password-login">Password:</label>
            <input class="form-control" type="password" id="password-login" />
          </div>
          <div id="login-button" class="form-group">
            <button class="btn btn-primary" type="submit">Login</button>
          </div>
        </form>


        <!--<div class="loginSide"> 
        <div class="loginBox">
          <div id="loginTitle">LOGIN</div>
          <form><div id="loginUsernameTitle">Username: <input type="text" name="username"></div></form>
          <form><div id="loginPasswordTitle">Password: <input type="password" name="password"></div></form>
          <button id="loginButton" type="submit">Login</button>
        </div>-->
      </div>
    </div>
  </section>
</div>



<script src="./js/login.js"></script>