<div class="loginPageBody">
  <section class="signupSide">
    <div class="signupBox">
      <div id="signupTitle">Sign Up</div>
      <div id="usernameTitle">Username</div>
      <div id="emailTitle">Email</div>
      <div id="createPasswordTitle">Create a Password</div>
    </div>
  </section>
</div>

<script src="./js/login.js"></script>
