<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user.first_name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Volunteer Task:</h3>

    <form class="form new-task-form">
      <div class="form-group">
        <label for="task-name">task name:</label>
        <input class="form-input" type="text" id="task-name" name="task-name" />
      </div>
      <div class="form-group">
        <label for="task-desc">description:</label>
        <textarea class="form-input" id="task-desc" name="task-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if tasks.length}}
  <div class="col-md-6 task-list">
    <h3>Current task:</h3>

    {{#each tasks as |task|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/tasks/{{task.id}}">{{task.task_name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{task.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/task.js"></script>
