<section class="profilePage">

  <section class="tasks">
  <p>Tasks</p>
    <div class="tasksBox">
      <p>Test Item</p>
      <p>Test Item</p>
      <p>Test Item</p>
      <p>Test Item</p>
      <p>Test Item</p>
      <p>Test Item</p>
      <p>Test Item</p>
  </div>

  </section>

  <section class="assignedTasks">
  <p>Assigned Tasks</p>
    <div class="assignedTasksBox">
      <p>Test Item</p>
      <p>Test Item</p>
      <p>Test Item</p>
      <p>Test Item</p>
      <p>Test Item</p>
      <p>Test Item</p>
      <p>Test Item</p>
    </div>

  </section>

  <section class="rightColumn">
  <p>Right Column</p>
  </section>

</section>

<script src="./js/profile.js"></script>
