<section class="profilePage">

  <section class="tasks">
  <p>Tasks</p>
  </section>

  <section class="assignedTasks">
  <p>Assigned Tasks</p>
  </section>

  <section class="rightColumn">
  <p>Test</p>
  </section>

</section>

<script src="./js/profile.js"></script>
