<section class="profilePage">

  <section class="taskSide">

    <div id="profileTitle">Profile</div>

    <div class="tasksAndAssignedTasksBoxes">
      <div class="tasks">
        <p>My Tasks</p>
        <div class="tasksBox">
          <p>Test Item</p>
          <p>Test Item</p>
          <p>Test Item</p>
          <p>Test Item</p>
          <p>Test Item</p>
          <p>Test Item</p>
          <p>Test Item</p>
        </div>
      </div>

      <div class="assignedTasks">
        <p>Assigned Tasks</p>
        <div class="assignedTasksBox">
          <p>Test Item</p>
          <p>Test Item</p>
          <p>Test Item</p>
          <p>Test Item</p>
          <p>Test Item</p>
          <p>Test Item</p>
          <p>Test Item</p>
        </div>
      </div>
    </div>
  </section>

  <section class="rightColumn">
    <div class="toggleButton">
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
    <button class="createTaskButton">Create a Task</button>
    <button class="volunteerButton">Volunteer</button>
  </section>

</section>

<script src="./js/profile.js"></script>
