<section class="profilePage">

  <section class="taskSide">

    <div id="profileTitle">My Profile</div>

    <div class="tasksAndAssignedTasksBoxes">
      <div class="tasks">
        <div class="profilePageSubtitles" id="myTasksTitle"><p>My Tasks</p></div>
        <div class="tasksBox">
          <p>Test Item. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ipsam neque quisquam.</p>
          <p>Test Item. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi cum quibusdam porro quasi inventore maiores aperiam reiciendis iure voluptates!</p>
          <p>Test Item. Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur modi ipsa minus in voluptas ipsam dolores quibusdam, dolore placeat fuga!</p>
        </div>
      </div>

      <div class="assignedTasks">
        <div class="profilePageSubtitles" id="assignedTasksTitle"><p>Assigned Tasks</p></div>
        <div class="assignedTasksBox">
          <p>Test Item. Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur modi ipsa minus in voluptas ipsam dolores quibusdam, dolore placeat fuga!</p>
          <p>Test Item. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi cum quibusdam porro quasi inventore maiores aperiam reiciendis iure voluptates!</p>
          <p>Test Item. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ipsam neque quisquam.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="rightColumn">
    <div class="toggleButton">
      <p>Volunteer</p>
      <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
      <p>In need</p>
      <button class="updateProfileButton">Update Profile</button>
    </div>
    <button class="createTaskButton">Create a Task</button>
    <button class="volunteerButton">Volunteer</button>
  </section>

</section>

<script src="./js/profile.js"></script>
